# * Basic Operations 
* Comparison Operators 
* if, elif, else statements 
* for loops
* while loops
* range() 
* list comprehension
* functions 
* lambda expressions
* map and filter


* Range()

In [ ]:
range(1,11) # This will return 1,2,3,4,5,6,7,8,9,10
#Will return Numbers between 1  and 11 excluded

In [ ]:
range(1,11,2) # This will return 1,3,5,7,9

In [ ]:
for num in range (1,11):
    print (num)

In [ ]:
for _ in range (1,11): 
    print (_)

In [ ]:
for num in range (1,11,2):
    print (num**2)

In [ ]:
for num in range (1,12,2):
    print (num**2)

In [ ]:
for num in range (1,11,3):
    if num % 2== 0:
        print ('Even number')
    else:
        print ('Odd number')

* ## While Loops

In [ ]:
num = 1
while num <11:
    print(num) 
    num = num+1
    #num += 1

In [14]:
num = 1
while num <11:
    if num %2 != 0:
        print ('Odd number')
    else:
        print ('Even number') 
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # List Comprehension

In [ ]:
for num in range (1,11,3):
    if num % 2== 0:
        print ('Even number')
    else:
        print ('Odd number')

In [17]:
[print('Even Number')if num %2 == 0 else print('Odd Number')for num in range(11)]

Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number

[None, None, None, None, None, None, None, None, None, None, None]

In [1]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1 
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
[num**2  for num in range (11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
[num*3 for num in range(4)]

[0, 3, 6, 9]

In [4]:
[[num*3 for num in range(4)]for num in range (5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* ## Dictionary comprehension

In [35]:
name = ['Moussa', 'Sall', 'Idris','George']

In [36]:
dico = {k:v for k,v in enumerate(name)}

In [37]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [38]:
gpa = [4,3.9,3.8,3.5]

In [39]:
name_gpg = {k:v for k,v in zip(name,gpa)}
name_gpg

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

In [40]:
drink = ['water', 'soda', 'juice', 'smoothie']

In [41]:
dico = {k:v for k,v in enumerate(drink)}

In [42]:
dico

{0: 'water', 1: 'soda', 2: 'juice', 3: 'smoothie'}

In [43]:
calories = [0,120,150,250 ]

In [44]:
drink_calories = {k:v for k,v in zip(drink,calories)}
drink_calories

{'water': 0, 'soda': 120, 'juice': 150, 'smoothie': 250}

In [45]:
def square_roots_func(num):
    results = num**0.5
    return result

In [46]:
square_roots_func(2)

NameError: name 'result' is not defined

In [47]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1 
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
def square_fun(val): 
    my_list = []
    for val in range(1,11):
        my_list_append(val**2)
        val = val+1
    return my_list

In [49]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
mylist = [2,-5,10,21,-17,55,-0.5,-78]

In [51]:
list(enumerate(mylist))

[(0, 2), (1, -5), (2, 10), (3, 21), (4, -17), (5, 55), (6, -0.5), (7, -78)]

In [52]:
def replace_by_zero(mylist):
    for idx, num in enumerate(mylist):
        if num < 0:
            mylist[idx] = 0
    return mylist

In [53]:
mylist

[2, -5, 10, 21, -17, 55, -0.5, -78]

In [54]:
replace_by_zero(mylist)

[2, 0, 10, 21, 0, 55, 0, 0]

In [55]:
# 7 = 7x6x5x4x3x2x1
def factoriel_func(num):
    p = 1 
    i = 1
    while i <= num:
        p = p*i
        i += 1
    return p

In [56]:
factoriel_func(7)

5040

In [57]:
#!3 = 3x2x1 = 6

* ## Lambda Expressions

In [60]:
def squares(num): 
    result = num**2
    return result

In [61]:
squares(6)

36

In [71]:
l =lambda num: num*3

In [72]:
l(6)

18

In [65]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [69]:
list(map(l,ano_list))

[1, 16, 25, 36, 49, 121, 400, 441, 1089, 5929]

In [76]:
list(filter(lambda num: num%2 != 0, ano_list))

[-1, -5, 7, -11, 21, 33, -77]

In [77]:
md_list = [2,12,-3,-5,17,22.0,-88]
# Use map to replace the odd numbers by 0.
# And use filter to return the non-negative number

In [91]:
def rnge(alist):
    for i in range(len(alist)):
        if alist[i]%2 != 0:
            alist[i] = 0
            return list

In [90]:
[alist if alist[i] != 0 for i in range(len(alist))]

SyntaxError: invalid syntax (4232752217.py, line 1)

In [87]:
list(map(rnge, md_list))

TypeError: object of type 'int' has no len()